[submodule ".local/opt/bottom"]
	path = .local/opt/bottom
	url = https://github.com/ClementTsang/bottom.git
    ignore = dirty
[submodule ".local/opt/stylua"]
	path = .local/opt/stylua
	url = https://github.com/johnnymorganz/stylua.git
    ignore = dirty
[submodule ".local/opt/leftwm"]
	path = .local/opt/leftwm
	url = https://github.com/leftwm/leftwm.git
    ignore = dirty
