# Ignore everything
/*
!.gitignore

# Except for the files and folders we to track
!.Notes/
!.asoundrc
!.bash_aliases
!.bash_profile
!.bashrc
!.cargo/
!.config/
!.local/
!.tmux.conf
!.venvs
!.xmonad/
!Music/
