# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!.pacman_hooks
!alacritty
!fish
!nvim
!picom
!qtile
!rofi
!starship.toml
!systemd
!tmux
!wofi
!python
!shell
!x11
!zsh
